/* Start Variables */
:root {
  --main-color: #10cab7;
  --second-color: #435864;
  --p-color: #575757;
  --special-Heading1: #f6f6f6;
  --special-Heading2: #ebeced;
  --section-padding: 60px;
  --back-color: #fafafa;
  --transition: 0.3s;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-Heading {
  color: var(--special-Heading1);
  font-size: 160px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -3px;
  margin: 0;
}
.special-Heading + p {
  margin: -40px 0 0;
  color: var(--p-color);
  font-size: 25px;
  text-align: center;
}
@media (max-width: 767px) {
  .special-Heading {
    font-size: 80px;
  }
  .special-Heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: black;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--special-Heading1);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--special-Heading1) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--second-color);
  transition:var(--transition);
  -webkit-transition:var(--transition);
  -moz-transition:var(--transition);
  -ms-transition:var(--transition);
  -o-transition:var(--transition);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul :not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing */
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Image/beatenberg.jpg);
  height: calc(100vh - 64px);
  background-size: cover;
}
.landing .intro-text {
  width: 400px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
  text-align: center;
}
.landing .intro-text p {
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  color: var(--second-color);
}
/* End Landing */
/* Start Features */
.features {
  padding: var(--section-padding) 0;
  background-color: var(--special-Heading1);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  box-shadow: none;
}
.features .feat:hover {
  box-shadow: 1px 1px 3px 0px var(--second-color);
}
.features .feat i {
  color: var(--main-color);
  font-size: 50px;
}
.features .feat h3 {
  font-weight: 800;
  color: var(--second-color);
  padding: 20px 0 10px 0;
}
.features .feat p {
  line-height: 1.8;
  color: var(--p-color);
  font-size: 15px;
}
/* End Features */
/* Start Services */
.services {
  padding: var(--section-padding) 0;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .col .srv {
  display: flex;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .services .services-content .col .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .col .srv i {
  flex-basis: 60px;
  font-size: 30px;
  color: var(--main-color);
}
.services .services-content .col .srv div {
  flex: 1;
}
.services .services-content .col .srv div h3 {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 800;
  color: #1f2021;
}
.services .services-content .col .srv div p {
  color: #4d4c4c;
  font-size: 15px;
  line-height: 1.6;
}
.services .services-content .col:last-child {
  text-align: center;
  position: relative;
}
@media (max-width: 1199px) {
  .services .services-content .col:last-child {
    display: none;
  }
}
.services .services-content .col img {
  width: 260px;
}
.services .services-content .col:last-child::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 400px;
  background-color: #2c4755;
  right: 0;
  z-index: -1;
  top: -60px;
}
/* End Services */
/* Start Portofolio */
.portfolio {
  padding: var(--section-padding) 0;
  background-color: var(--back-color);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .special-Heading {
  color: var(--special-Heading2);
}
.portfolio .card {
  background-color: white;
}
.portfolio .card img {
  max-width: 100%;
}
.portfolio .card .info {
  padding: 20px;
}
.portfolio .card .info h3 {
  color: #1f2021;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.portfolio .card .info p {
  font-size: 15px;
  line-height: 1.8;
  word-break: break-all;
  color: #4d4c4c;
  margin-bottom: 0;
}
/* End Portofolio */
/* Start About */
.About {
  padding: var(--section-padding) 0;
}
.About .special-Heading {
  color: var(--special-Heading1);
}
.About .p {
  color: var(--p-color);
}
.About .About-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 125px;
}
@media (max-width: 991px) {
  .About .About-content {
    flex-direction: column;
    text-align: center;
  }
}
.About .About-content .image {
  position: relative;
}
@media (max-width: 991px) {
  .About .About-content .image {
    margin: 0 auto 60px;
  }
}
.About .About-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 60px);
  top: -55px;
  left: -15px;
  z-index: -1;
}
.About .About-content .image::after {
  top: -25px;
  content: "";
  position: absolute;
  width: 120px;
  height: calc(100% - 120px);
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .About .About-content .image::before,
  .About .About-content .image::after {
    display: none;
  }
}
.About .About-content img {
  max-width: 100%;
}
.About .About-content .text {
  flex-basis: calc(100% - 550px);
}
.About .About-content .text p:first-of-type {
  font-size: 20px;
  font-weight: 800;
  line-height: 2;
  color: #334752;
  margin-bottom: 50px;
}
.About .About-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.About .About-content .text p:last-of-type {
  font-size: 15px;
  line-height: 2;
  color: var(--p-color);
}
/* End About */
/* Start Contact */
.contact {
  background-color: var(--back-color);
  padding: 25px 0;
}
.contact .special-Heading {
  color: var(--special-Heading2);
}
.contact .info {
  padding: var(--section-padding) 0;
  /* text-align: center; */
}
.contact .info .label {
  font-size: 55px;
  font-weight: 800;
  color: #2c4755;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -2px;
  text-decoration: none;
  color: var(--main-color);
  text-indent: 30px;
}
.contact .info .social {
  display: flex;
  margin-top: 20px;
  margin-left: 65px;
  font-size: 15px;
  color: #334752;
  text-transform: capitalize;
}
.contact .info .social i{
  margin-left: 10px;
}
@media (max-width: 767px) {
  .contact .info{
    text-align: center;
  }
  .contact .info .label{
    font-size: 25px;
  }
  .contact .info .link{
    font-size: 25px;
    text-indent: 0;
  }
  .contact .info .social{
    font-size: 10px;
    text-indent: 0;
    margin-left: auto 0;
  }
}
/* End Contact */
/* Start Footer */
footer{
  text-align: center;
  background-color: #334752;
  padding: 50px 0;
  color: white;
  font-size: 15px;
  font-weight: 800;
  position: relative;
  bottom: -70px;
}
footer span{
  color:var(--main-color);
}
/* End Footer */
